.menu-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 950px;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  overflow-y: auto;
}

.h1c1 {
  font-family: verdana;
}

.h2c1 {
  font-family: verdana;
  font-size: 20px;
}


.Tasks {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
}

.Tasks:hover {
  background-color: rgb(187, 181, 181);
  border-radius: 8px;
  cursor: pointer;
}

.mb {
  margin-bottom: 10px;
  margin-top: 5px;
}

.BoxNumberCount {
  width: 30px;
  height: 30px;
  background-color: rgba(196, 190, 190, 0.815);
  border-radius: 8px;
  align-self: center;
  text-align: center;
}

.BoxNumberCount p {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  padding-right: 8px;
}

.Tasks p {
  margin: 0;
  padding-left: 8px;
}


.footer {
  margin-top: 50px;
}

.Etiqueta {
  border-radius: 15px;
  display: flex;
  margin-right: 10px;
}

.Etiqueta p {
  text-align: center;
}

.icons:hover {
  cursor: pointer;
}


.middle-section {
  margin-top: 20px;
  padding: 20px;
  position: absolute;
  margin-left: 350px;
}

.task-container {
  border: 3px solid #d6c8c8;
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(202, 40, 40, 0.2);
}

.task-inside-container {
  border: 5px solid #692866c9;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(59, 91, 219, 0.15);
  margin: 10px 0;
}

.task-inside-container:hover {
  transition: transform 0.3s ease;
  transform: scale(1.02);
}


.task-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-icons {
  display: flex;
  align-items: center;
  margin-left: auto
}

.task-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
  cursor: default;
  font-size: 20px;
  margin: 0;
}

.task-subtitle {
  font-size: 16px;
  color: #9c9494;
  margin: 4px 0 0 20px;
}

.category-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 50px;
  min-width: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1
}

.category-title:hover {
  max-width: none;
  background-color: #ffffff;
  z-index: 2;
}